.carousel-div{
    padding: 20px;
    width: 70%;
    margin: auto;
    border: 5px solid tomato;
}
h2{
    font-size: 50px;
    font-weight: 600;
}
.carousel-div img{
    max-width: 100%;
    height: auto;
}
.color{
    color: tomato;
}
